/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{border:0;position:absolute;display:block;padding:10px 30px;background:rgba(0,0,0,0.7);color:#fff;text-decoration:none;font-size:2em;}
ul.bjqs-controls.v-centered li a:hover{background:#000;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 1em 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;padding: 0.5em 1em;}
ol.bjqs-markers li a:hover{background: rgba(255, 153, 51, 0.5);}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.narrower ul.bjqs-controls.v-centered li a {background: transparent;font-size: 6em;color: #7c8081;padding: 10px;}
.narrower ul.bjqs-controls.v-centered li a:hover {background: transparent;}
