{% extends 'layouts/base.html' %}

{% block page_title %}Beautiful Spots in Akole Taluka | {% endblock %}
{% block page_type %}left-sidebar{% endblock %}
{% block content %}

<!-- Main -->
      <article id="main">

        <header class="special container">
          <!-- <span class="icon fa-laptop"></span> -->
          <h2><strong>Beautiful Spots in Akole Taluka</strong></h2>
          <!-- <p>Where things on the left ... accompany that on the right.</p> -->
        </header>

        <!-- One -->
          <section class="wrapper style4 container">
            <h2>Agasti Ashram Akole</h2>
            <ul>
              <li>Kalasheshwar - Kalas Siddheshwar</li>
              <li>Mahalaxmi</li>
              <li>Gangadhareshwar - Akole City.</li>
              <li>Tahakari</li>
              <li>Somthan</li>
              <li>Amriteshwar - Ratanwadi</li>
              <li>Kotuleshwar - Kotul</li>
              <li>Lingeshwar - Lingdeo</li>
              <li>Bhandardara Dam</li>
              <li>Adhala Dam</li>
              <li>Sutikshan Ashram</li>
              <li>Mahamati Ashram</li>
            </ul>

            <h2>Historical Forts</h2>
            <ul>
              <li>Harishchandra garh</li>
              <li>Kalasubai – the highest peak in Maharashtra</li>
              <li>Pattah kilha</li>
              <li>Madan garh</li>
              <li>Taked</li>
              <li>Kavnai</li>
            </ul>
          </section>

      </article>

{% endblock %}
