{% extends 'layouts/base.html' %}

{% block page_title %}{{ trans.get('page.trust.title') }} | {% endblock %}
{% block page_type %}left-sidebar{% endblock %}
{% block content %}

<!-- Main -->
      <article id="main">

        <header class="special container">
          <!-- <span class="icon fa-laptop"></span> -->
          <h2><strong>{{ trans.get('page.trust.heading') }}</strong></h2>
          <!-- <p>Where things on the left ... accompany that on the right.</p> -->
        </header>

        <!-- One -->
          <section class="wrapper style4 container">
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.president') }}</dt>
              <dd class="9u">{{ trans.get('page.trust.k_d_dhumal') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.treasurer') }}</dt>
              <dd class="9u">{{ trans.get('page.trust.kisansheth_lahamge') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.secretary') }}</dt>
              <dd class="9u">{{ trans.get('page.trust.sudhakar_shaligram') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.trustees') }}</dt>
              <dd class="9u">{{ trans.get('page.trust.anantrao_deshpande') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.manoharrao_deshmukh') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.sureshrao_kote') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.raosaheb_nawale') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.virupakshabhau_jangam') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.manohar_maharaj_bhor') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.santu_bharitkar') }}</dd>
            </dl>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.parbatrao_naikwadi') }}</dd>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.gulabrao_shewale') }}</dd>
            </dl>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.manager') }}</dt>
              <dd class="9u">{{ trans.get('page.trust.ramnath_mutdak') }}</dd>
            </dl>
            </dl>
            <dl class="row flush no-collapse">
              <dt class="3u">{{ trans.get('page.trust.collection') }}&nbsp;</dt>
              <dd class="9u">{{ trans.get('page.trust.baban_virupaksha_jangam') }}</dd>
            </dl>
          </section>

          <section class="wrapper style3 container">
            <h2>{{ trans.get('base.contact_us')|raw }}</h2>
            <address>
              {{ trans.get('base.address')|raw }}
            </address>
          </section>

      </article>

{% endblock %}
