<header class="major">
  <h2>{{ trans.get('block.way_to_reach.title')|raw }}</h2>
</header>

<ul>
  <li>{{ trans.get('block.way_to_reach.from_mumbai')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_pune_kotul')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_pune_sangamner')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_nashik_sangamner')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_nashik_dapur')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_shirdi')|raw }}</li>
  <li>{{ trans.get('block.way_to_reach.from_shani_singanapur')|raw }}</li>
</ul>

<footer class="major">
  <ul class="buttons">
    <li><a href="/{{lang}}/spots-in-akole" class="button wide special">{{ trans.get('block.way_to_reach.beautiful_spots')|raw }}</a></li>
  </ul>
</footer>
